// Variables

// Brand Colors
$yellow: #f8c246;
$red: #ed3f56;
$blue: #236588;
$gray: #8E8D8C;


// Grays 
$dark-gray: #222222;
$light-gray: #AAAAAA;


// Sizes and Breakpoints 
$x-small: 320px;
$small: 480px;
$medium: 768px;
$large: 960px;
$x-large: 1300px;
