// Homepage Styles 

#home {
	#hero {
		align-items: center;
		height: 80vh;
		color: #fff;
		padding-top: 20vh;

		background-image: url('/assets/images/hero-images/hero-image-1.jpg');
		background-size: cover;

		h1 {
			line-height: 1em;
			margin: 0;
		}

		p {
			margin: 1em 0;
		}

		img {
			width: 60px;
		}

		#logo-wrapper {
			grid-column-start: 12;
			grid-column-end: 13;
		}

		#hero-content {
			grid-column-start: 1;
			grid-column-end: 10;
		}
	}

	#crag-cards {
		margin-top: 3em;
		background-color: $light-gray;
		padding: 3em;
	}
}